{% extends 'main/base.html' %}

{% block stylesheet %}
    <link type="text/css" rel="stylesheet" href="static/css/security.css">
{% endblock %}

{% block title %}Согласие на обработку данных{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-block">
            <h1>Согласие на обработку данных</h1>
            <div class="text-about-data">
                <p>Осуществляя регистрацию на сайте carshipment.ru и/или запись на тест-драйв, и/или запрос на обратный звонок и/или на получение предложения путем заполнения соответствующих полей веб-формы, 
                    я подтверждаю, что нахожусь на территории РФ и все указанные мной персональные данные принадлежат мне, а также свободно, своей волей и в своем интересе даю свое согласие на обработку своих персональных данных 
                    (любой информации, относящейся ко мне, в том числе фамилии, имени, отчества, пола, даты и места рождения, почтового адреса, номера телефона сотовой связи, номера рабочего телефона, номера домашнего телефона, 
                    адреса электронной почты, информации об автомобиле, системных идентификаторов (внутренних ID в информационных системах), RTB-данных (cookies), геолокации и тп) следующему Оператору: https://carshipment.ru/ в целях: 
                    обработки моего запроса, направленного через сайт; учета предоставленной информации в базах данных; проведения статистических и маркетинговых исследований, направленных на улучшение качества обслуживания при реализации 
                    товаров (автомобилей, мотоциклов, аксессуаров, запасных частей и тп) и услуг по техническому обслуживанию автомобилей/мотоциклов; рекламы и проведения маркетинговых программ путём осуществления со мной коммуникации 
                    (персональных контактов (звонков, писем, сообщений) и/или рассылки) с помощью различных средств связи, включая, но, не ограничиваясь: интернет, почтовые отправления, электронная почта, телефон (в том числе звонков, SMS, 
                    MMS, мессенджеры). Для достижения вышеуказанных целей я разрешаю Оператору совершать со своими персональными данными следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), 
                    использование, распространение (в том числе передачу на территории Российской Федерации и трансграничную передачу), обезличивание, блокирование, уничтожение персональных данных. Я разрешаю вышеуказанному Оператору обрабатывать 
                    мои персональные данные с помощью автоматизированных систем управления базами данных (СУБД).</p>  
                <p>Я соглашаюсь с тем, что, если это необходимо для реализации целей, указанных выше, мои персональные данные могут быть переданы третьим лицам, которым Оператор может поручить обработку моих персональных данных на основании договора, 
                    заключенного с такими лицами, при условии соблюдения требований законодательства РФ об обеспечении такими третьими лицами конфиденциальности персональных данных и безопасности персональных данных при их обработке.</p>  
                <p>Данное мной согласие на обработку моих персональных данных является бессрочным. Мне известно, что настоящее согласие может быть отозвано посредством направления мною письменного заявления в адрес соответствующего Оператора, указанные выше.</p> 
            </div>
        </div>
    </div>
{% endblock %}