{% extends 'main/base.html' %}

{% block stylesheet %}
    <link type="text/css" rel="stylesheet" href="static/css/classification_style.css">
    <link type="text/css" rel="stylesheet" href="static/css/catalog.css">
{% endblock %}

{% block title %}Каталог автомобилей{% endblock %}

{% block menu_params %}
    onmousemove="onmouse()"
    onmouseout="outmouse()"
{% endblock %}

{% block content %}
    <div class="block1">
        <div class="auto_text">АВТОМОБИЛИ CARSHIPMENT</div>
        <a href="#catalog"><img src="static/img/scroll-down.png"></a>
    </div>

    <div class="container">
        <div class="catalog" id="catalog">
            <div class="intro_text">
                Представляем Вашему вниманию наш модельный ряд, который ежедневно обновляется. 
                Если у Вас возникнут вопросы, обратитесь к нам на почту email@email.ru или оставьте заявку через форму.
            </div>
            <div class="items">
                {% for car in cars %}
                <div class="catalog-item">
                    <div class="item-img">
                        <img id="logo" src="/static/img/maserati_logo.png">
                        <img id="main" src="/static/img/{{ car.img_addresses }}.png">
                    </div>
                    <div class="item-title"><b>Место свободно</b></div>
                    <div class="item-subtitle">На фото: <br> {{ car.model }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <!---div class="parallax">
        <div class="parallax__layer parallax__layer--back">
            <div class="background-parallax">
                Re
            </div>
        </div>
        <div class="parallax__layer parallax__layer--base">
            <nav>
                <div class="nav-item"><a>Классификация</a></div>
                <div class="nav-item"><a>Наши услуги</a></div>
                <div class="nav-item"><a>Партнерство</a></div>
                <div class="nav-item"><a>Обратиться</a></div>
            </nav>
        </div>
    </div-->

    <!-- request_form.html -->

    <form method="post">
        {% csrf_token %}
        <div class="application">
            <div class="application-field">
                <div class="application-title">Оставить заявку</div>
                {{ form.name }}
                {{ form.phone_number }}
                {{ form.comment }}
                <button class="apply-button" type="submit">Обратиться</button>
            </div>
        </div>
    </form>

    <!-- Блок для отображения сообщения (если форма была успешно отправлена) -->
    {% if form_submitted %}
        <div>
            <p>Заявка успешно отправлена!</p>
        </div>
    {% endif %}

{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/js/header_transparent.js"></script>
{% endblock %}