{% extends 'main/base.html' %}

{% block stylesheet %}
    <link type="text/css" rel="stylesheet" href="static/css/classification_style.css">
    <link type="text/css" rel="stylesheet" href="static/css/catalog.css">
{% endblock %}

{% block title %}Каталог автомобилей{% endblock %}

{% block content %}
    <div class="block1">
        <div class="auto_text">АВТОМОБИЛИ CARSHIPMENT</div>
    </div>    
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/js/header_classification.js"></script>
{% endblock %}