{% extends 'main/base.html' %}

{% block stylesheet %}
    <link type="text/css" rel="stylesheet" href="static/css/catalog.css">
    <link type="text/css" rel="stylesheet" href="static/css/promotion.css">
    
{% endblock %}

{% block title %}Продвижение продажи{% endblock %}

{% block menu_params %}
    onmousemove="onmouse()"
    onmouseout="outmouse()"
{% endblock %}

{% block content %}
    <div class="banner">
        <div id="sales" class="text">Обращение по продвижению</div>
        <a href="#about-promo"><img id="scroll-down" src="static/img/scroll-down.png"></a>  
    </div>

    <div id="about-promo" class="about-promo">
        <div class="container">
          <div class="about-text">
            Представляем Вашему вниманию фирменную услугу по продвижению сделки и поиска автомобиля. Исходя из <a href="/classification">классификации</a>,
            мы определяем подходящие для этого автомобили. 
            Вы можете обратиться через форму или <a href="/contacts">контакты</a>.
          </div>
          <div class="about-img"><img src="static/img/promo.png"></div>
        </div>
    </div>

    <div class="menu-block">
      <div class="container">
        <ul>
          <li id="Auto"><a href="/catalog">Модели</a></li>
          <li id="Class"><a href="/classification">Классификация</a></li>
          <li id="Cont"><a href="/contacts">Контакты</a></li>
        </ul>
      </div>
    </div>

    <div class="sale-form">
        <form id="promotion" method="post">
            {% csrf_token %}
            <div class="application">
                <div class="application-field">
                    <div class="application-title">Оставить заявку</div>
                    {{ form.name }}
                    {{ form.phone_number }}
                    {{ form.email }}
                    {{ form.comment }}
                    <button class="apply-button" type="submit">Обратиться</button>
                    <div class="approval">Нажимая на кнопку "Обратиться", вы даете свое <a href="#">согласие</a> на обработку данныхю</div>
                </div>
                <!-- Блок сообщений -->
                <div id="message" class="msg_hidden"></div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/js/header_transparent.js"></script>
    <script type="text/javascript" src="/static/js/requests.js"></script>
{% endblock %}