{% extends 'main/base.html' %}

{% block stylesheet %}
    <link type="text/css" rel="stylesheet" href="static/css/security.css">
{% endblock %}

{% block title %}Защита данных{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-block">
            <h1>Защита данных</h1>
            <div class="text-about-data">
                <p>Приветствуем Вас на сайте carshipment.ru! Мы рады проявленному Вами интересу к нашей Компании. Вопросу сохранения конфиденциальности Ваших персональных данных у нас придается серьезное значение.
                     Мы хотим, чтобы Вы всегда с удовольствием заходили на наш сайт. Неприкосновенность Вашей личной сферы при обработке персональных данных относится к числу важнейших аспектов нашей деятельности. 
                     Обработка персональных данных лиц, посещающих наш сайт, производится в строгом соответствии с законодательством в области защиты данных стран, в которых эти сайты поддерживаются.</p>

                <p>Сбор и обработка персональных данных</p>

                <p>При посещении сайта carshipment.ru наши сетевые серверы стандартно регистрируют IP-адрес, присвоенный Вам Вашим провайдером Интернет-услуг, название страницы, с которой Вы к нам пришли, названия страниц, 
                которые Вы посещаете у нас, а также дату и продолжительность Вашего посещения.</p> 


                <p>Использование и передача персональных данных, целевое использование</p> 

                <p>carshipment.ru использует Ваши персональные данные в целях технического администрирования страниц сайта, управления клиентской базой, проведения анкетных опросов по нашей продукции и маркетинга, причем в исключительно необходимом для этого объеме.
                Передача персональных данных государственным инстанциям и органам осуществляется исключительно на основании национальных правовых норм. С наших сотрудников и агентств взяты обязательства о строгом соблюдении конфиденциальности.</p>


                <p>Право выбора</p>

                <p>Ваши данные могут быть использованы в целях информирования Вас о нашей продукции и услугах, а иногда и для проведения опросов о них. Разумеется, участие в акциях – дело сугубо добровольное. Если Вы не согласны участвовать в них, 
                можете в любое время сообщить нам об этом, чтобы Ваши данные были заблокированы. Дополнительную информацию Вы найдете на страницах нашего сайта.</p>


                <p>Cookies</p>

                <p>carshipment.ru использует cookies для отслеживания предпочтений посетителей сайта и соответствующей оптимизации его дизайна. Cookies – это небольшие файлы, сохраняющиеся на жестком диске Вашего компьютера. Они облегчают навигацию, 
                делают посещение сайта более удобным. Cookies также помогают нам в определении наиболее популярных тематических разделов нашего интернет- контента. Это позволяет нам более целенаправленно адаптировать содержание страниц сайта к Вашим потребностям, 
                а следовательно и улучшать наш контент в Ваших интересах. Cookies могут использоваться для того, чтобы установить наличие прежних выходов с Вашего компьютера на наш сайт. На вашем компьютере происходит лишь идентификация cookie. 
                Персональные данные сохраняются в cookies только в том случае, если Вы даете на это разрешение, например, чтобы облегчить защищенный доступ в Интернет и не вводить повторно ID пользователя и пароль.
                Просмотры нашего сайта возможны, конечно, и без cookies. В большинстве браузеров прием cookies осуществляется автоматически. Сохранению cookies на Вашем жестком диске Вы можете воспрепятствовать, заблокировав в настройках браузера опцию «прием cookies». 
                Вы можете также в любое время удалить cookies, находящиеся на жестком диске Вашего компьютера. Блокировка приема cookies, однако, может привести к ограничению доступа к сервисам, которые предоставляются на нашем сайте.</p>


                <p>Безопасность</p>

                <p>В целях защиты администрируемых нами Ваших данных от манипуляций, потери, разрушения и несанкционированного доступа carshipment.ru принимает целый ряд технических и организационных мер безопасности. По мере технического прогресса эти меры безопасности 
                постоянно совершенствуются.</p>
            </div>
        </div>
    </div>
{% endblock %}