@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    margin: 0;
    background-color: #242424;
}

/*Хэдер*/

.header {
    height: 100px;
    background-color: white;
    
}

.menu, .logo, .phone{
    display: inline-block;
}

.menu img, .phone img{
    width: 60px;
    height: 60px;
}

.logo img{
    width: 250px;
    height: 80px;
}


.menu{
    position:absolute;
    padding-top: 20px;
    padding-left: 50px;
}    


.logo{
    padding-top: 10px;
    padding-left: 43%;
}

.phone{
    float: right;
    padding-top: 20px;
    padding-right: 50px;
}

/*Раздел с продажами*/

.promotion img{
    width: 100%;
}

.more{
    padding-right: 6%;
    padding-top: 22%;
    right: 0;
    position: absolute;
}

.more-border{
    border: 2px solid white;
    border-radius: 7px;
    width: 345px;
    height: 85px;
}

.more-text{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    text-align: center;
    padding-top: 15px;  
}

.text{
    color: #e5b876;
    font-family: 'Times New Roman', Times, serif;
    font-size: 88px;
    position: absolute;
    right: 0;
    padding-right: 6%;
    padding-top: 7%;
}

.t2{
    padding-top: 70px;
}

.t3{
    padding-top: 140px;
}

.container{
    max-width: 1638px;
    margin: 0 auto;
}

/*Модели*/

.models{
    background-color: #242424;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.models.visible {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }

.square{
    width: 765px;
    height: 765px;
    background-color: black;
    display: inline-block;
    position: relative;
}

.line{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(128, 128, 128, 0.5);
    transition: 0.5s;
}

.line:hover{
    background-color: rgba(128, 128, 128, 1);
    cursor: pointer;
}

.line-text{
    position: absolute;
    right: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    padding-top: 10px;
}

.about{
    font-family: 'Montserrat', sans-serif;
    width: 788px;
    height: 602px;
    color: white;
    font-size: 90px;
    float: right;
    display: inline-block;
    text-align: right;
    
}

.s1{
    float: right;
}

.about1{
    font-family: 'Montserrat', sans-serif;
    width: 788px;
    height: 602px;
    color: white;
    font-size: 90px;
    display: inline-block;
}

h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
}

/*Слайдер*/

.swiper{
    height: 100%;
}

.swiper-slide{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: 40px !important; 
    left: auto;  
}

.swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: 40px !important; 
    right: auto;
}

.swiper-button-prev, .swiper-button-next{
    --swiper-theme-color: black;
}

.swiper-pagination{
    position: static !important;
    --swiper-theme-color: black;
}

.swiper-pagination1{
    margin: 8px 0;
    --swiper-pagination-bullet-inactive-color: rgb(207, 196, 196);
    --swiper-theme-color: white;
    
}

#auto_sw{
    --swiper-theme-color: white; 
}

.all_models{
    margin: 50px auto;
    width: 510px;
    height: 110px;
}

.all_border{
    border: 2px solid white;
    border-radius: 7px;
    width: 510px;
    height: 110px;
}

.all-text{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    text-align: center;
    padding-top: 30px;  
}

/*Раздел с текстом*/

.carshipment{
    background-color: white;
    height: 970px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.carshipment.visible {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }

.carshipment img{
    width: 891px;
    height: 55px;
    padding: 140px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info{
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    text-align: center;
}

/*Пресс-релизы*/

.press_realises{
    background-color: white;
    height: 675px;
}

.title_press{
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    padding: 15px 0; 
}

.news{
    height: 440px;
    width: 100%;
    background-color: #e2e2e2;
}

.picture{
    width: 440px;
    height: 440px;
    background-color: black;
    display: inline-block;
}

.news_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    padding-right: 50px;
    display: inline-block;
    width: 1113px;
    height: 300px;
    float: right;
}

.swiper-pagination3{
    margin: 10px 0;
}

/*Футер*/
.footer{
    background-color: black;
}

.footer img{
    width: 100%;
}

.copyright{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: grey;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}