*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

.video{
    background: url("/static/img/cars.png");
    background-position: center center;
    min-width: 100%;
    height: calc(100vh - 70px);
    background-size: cover;
}

.classification{
    padding: 50px 0;
}

th{
    border: 2px solid white;
    background-color: black;
    height: 100px;
    color: white;
 }
 /* границы ячеек тела таблицы */
 td{
    background-color: gray;
    height: 100px;
    border: 2px solid white;
 }

 table{
    padding: 50px 0;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid antiquewhite;

 }