@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

video{
    min-width: 100%;
    height: calc(100vh - 70px);
}

.classification{
    padding: 50px 0;
}

th{
    border: 2.5px solid white;
    background-color: black;
    height: 80px;
    color: white;
 }
 /* границы ячеек тела таблицы */
 td{
    background-color: #dcdcdc;
    height: 80px;
    border: 2.5px solid white;
 }

 table{
    font-family: "Montserrar", sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 50px 0;
    width: 100%;
    border-collapse: collapse;

 }