@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

.block1{
    height: 100vh;
    background-image: image-set(
        url("/static/img/dealership.webp") type("image/webp") 1x,
        url("/static/img/dealership.png") type("image/png") 1x
        );
    background-position: center center;
    position: relative;
}

.auto_text{
    
    font-size: 120px;
    font-weight: 600;
    position: absolute;
    bottom: 160px;
    right: 10px;
    width: 950px;
    color: white;
}

.catalog{
    background-color: white;
}

.intro_text{
    font-weight: 400;
    font-size: 31px;
    text-align: center;
    padding: 20px 0;
}

.block1 img{
    width: 70px;
    filter: invert(100%);
    display: block;
    transition: 0.5s;
    right: calc(50% - 35px);
    bottom: 70px;
    position: absolute;
}

.block1 img:hover{
    bottom: 40px;
    cursor: pointer;
}

.items{
    display: flex;
    flex-wrap: wrap;
}

.catalog-item{
    margin: 0 0.6%;
    margin-bottom: 1.2%;
    display: inline-block;
    flex-basis: 32%;
    height: 70vh;
    /*border: 1px solid gray;
    border-radius: 3px;*/
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}

.item-img{
    width: 90%;
    background-clip: content-box;
    padding: 5%;
    position: relative;
}

.proced_text{
    z-index: 1;
    position: absolute;
    width: 90%;
    font-size: 28px;
    font-weight: 500;
    padding-top: 40%;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
}

#logo{
    position: absolute;
    width: 80%;
    padding: 5%;
    z-index: -1;
    transition: 0.3s;
}

#main{
    width: 100%;
    display: block;
    /*border-radius: 3px;*/
    transition: 0.3s;
}

.catalog-item:hover{
    cursor: pointer;
}

.catalog-item:hover .proced_text{
    opacity: 1;
}

.catalog-item:hover #logo{
    z-index: 1 !important;
}

.catalog-item:hover #main{
    opacity: 0.3;
}

.item-title{
    font-size: 28px;
    text-align: center;
}

.item-subtitle{
    font-size: 26px;
    text-align: center;
    font-weight: 400;
    padding-top: 5px;
}

  .parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);
  }


  /* demo styles
  --------------------------------------------- */


  .parallax {
    font-size: 200%;
  }

   /* add some padding to force scrollbars */
  .parallax__layer {
    padding: 100vh 0;
  }

   /* centre the content in the parallax layers */
  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

h1{
    opacity: 1;
    top: 40%;
    left: 20%;
    position: absolute;
    color: black;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

nav{
    top: 40%;
    left: 20%;
    position: absolute;
    display: flex;
}

.nav-item{
    font-size: 36px;
    display: inline-block;
    padding-left: 20px;
    color: black;
}

.background-parallax{
    background-image: url("/static/img/parallax-img.png");
    background-position: center center;
    background-size: 100%;
}



.application{
    background-image: url("/static/img/application-img.png");
    background-position: center center;
    background-size: cover;
    height: 85vh;
}

.application-field{
    width: 45%;
    background-color: rgb(255, 255, 255, 0.7);
    margin: 0 auto;
    padding-top: 40px;
    background-clip: content-box;
}

.application-title{
    text-align: center;
    padding: 2% 0;
    font-size: 30px;
}

.application-field input, textarea{
    display: block;
    width: 88.5%;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    
    border-radius: 5px;
    border: 2px solid white;
    padding-left: 1%;
    margin: 0 5%;
    margin-bottom: 2%;
}

textarea{
    resize: none;
}

.application-field input:focus{
    border-color: black;
    outline: none
}

.apply-button{
    width: 30%;
    height: 40px;
    margin: 0 35%;
    margin-bottom: 2.6%;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 17px;
    transition: 0.4s;
}

.apply-button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.approval{
    font-size: 14px;
    font-weight: 400;
    color: grey;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 2.6%;
}

#message{
    transition: 0.5s;
    margin: 0 auto;
    padding: 10px 0;
    width: 45%;
    text-align: center;
    color: white;
    font-weight: 400;
}

.msg_hidden{
    transform: translateY(-100%);
    background-color: grey;
    height: 0 !important;
    padding: 0 !important;
}

.msg_error{
    background-color: red;
}

.msg_success{
    background-color: green;
}


@media (max-width: 500px) {
    .intro_text{
        font-size: 17px;
    }

    .block1{
        background-position: 1620px center;
    }

    .auto_text{
        font-size: 35px;
        left: 90px;
        width: 283px;

    }

    .catalog-item{
        flex-basis: 48%;
        height: 32vh;
        margin-bottom: 2%;
    }

    .item-title{
        font-size: 17px;
    }

    .item-subtitle{
        font-size: 15px;
    }

    .application{
        height: 490px;
        background-position: center center;
        background-size: auto;
    }

    .application-field{
        width: 85%;
        padding-top: 30px;
    }

    .application-title{
        padding: 4% 0;
        font-size: 24px;
    }

    .application-field input{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 4%;
        height: 45px;
    }

    .apply-button{
        width: 50%;
        height: 40px;
        margin: 0 25%;
		margin-top: 2%;
        margin-bottom: 2.6%;
    }

    .approval{
        font-size: 11px;
    }

    #message{
        width: 85%;
    }
}

@media (max-width: 376px) {
    .catalog-item{
        height: 38vh;
    }
}

