*{
  font-family: "Montserrat", sans-serif;
}

.container1 {
  max-width: 1300px;
  margin: 0 auto;
}

body{
  background-color: white;
}

h1 {
  color: black;
  opacity: 1;
  font-size: 40px;
  padding: 20px 0;
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .swiper {
    width: 90%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 15% !important;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
  }



  h2{
    font-size: 36px;
  }

  .specifications, .price{
    display: inline-block;
    vertical-align: top;
  }

  .description-text, .price-value, .details, .file{
    font-size: 26px;
    font-weight: 400;
  }

  ul{
    list-style: none;
    display: inline-block;
    margin-top: 0;
    padding: 0;
    vertical-align: top;
  }

  #values{
    padding-left: 60px;
  }

  li{
    font-size: 26px;
    font-weight: 400;
  }

  .block-right{
    float: right;
  }

  .dark-background{
    background-image: url("/static/img/model-background.jpg");
    background-position: center center;
    background-size: cover;
    height: 70vh;
  }

  .contact{
    color: #cdcdcd;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
  }

.buy{
    margin: 0 auto;
    width: 20%;
    height: 40px;
    transition: 0.6s;
}

.buy-border{
    border: 2px solid #cdcdcd;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.buy-text{
    color: #cdcdcd;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    transition: 0.3s;  
}

.buy:hover .buy-border{
    border-color: white;
    cursor: pointer;
}

.buy:hover .buy-text{
    color: white;
}


  @media (max-width: 420px){
    .container1{
        max-width: 370px;
    }

    .description-text, li{
      font-size: 16px;
    }

    h1{
      font-size: 19px;
    }

    h2{
      font-size: 22px;
    }

    #values {
      padding-left: 20px;
   }

   .block-right{
    float: none;
   }

    .price {
      padding-left: 0;
      padding-bottom: 15px;
      float: none;
    }

    .price-value, .details{
      font-size: 20px;
    }

    .file{
      font-size: 20px;
    }

    .dark-background{
      background-position: left center;
      height: 50vh;
    }

    .buy{
      width: 45%;
      height: 50px;
    }

    .buy-text{
      font-size: 17px;
      padding-top: 12px;
    }
  }