/*Большая часть стилей для блоков для них взята из файлов base_style и catalog*/
*{
  margin: 0;
  padding: 0;
}

header{
    position: fixed !important;
    width: 100%;
}

.banner{
    height: 100vh;
    background-image: url(/static/img/keys.png);
    background-position: center center;
    position: relative;
}

.about-promo{
  background-color: white;
}

#scroll-down{
  width: 70px;
  filter: invert(100%);
  display: block;
  transition: 0.5s;
  right: calc(50% - 35px);
  bottom: 70px;
  position: absolute;
}

#scroll-down:hover{
  bottom: 40px;
  cursor: pointer;
}

.about-text{
  font-family: "Montserrat", sans-serif;
  font-size: 33px;
  font-weight: 400;
  text-align: center;
  padding: 50px 0;
}

.about-img{
  width: 65%;
  margin: 0 auto;
  padding-bottom: 60px;
}

.about-img img{
  width: 100%;
}

a{
  color: #cdcdcd;
  font-weight: 400;
}

a:hover{
  color: #d7d7d7;
}

.menu-block{
  height: 200px;
  background-image: url("/static/img/promo-background.png");
  background-position: center center;
  background-size: 100%;
}

ul{
  padding: 0;
  padding-top: 65px;
  margin: 0;
}

li{
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: #cdcdcd;
  display: inline-block;
  width: 33%;
}

li a:hover{
  color: white;
}

#Auto{
  width: 25%;
}

#Class{
  width: 47%;
  text-align: center;
}

#Cont{
  text-align: right;
  width: 25%;
  padding: 0;
}

@media (max-width: 420px){
  .menu-block{
    height: 100px;
  }

  .banner{
    background-image: url(/static/img/keys_mobile.png);
    height: 100vh;
    background-position: center center;
    background-size: cover;
  }

  ul {
    padding-top: 30px;
  }

  .about-text{
    font-size: 17px;
    padding: 20px 0;
  }

  .about-img{
    width: 100%;
    padding-bottom: 30px;
  }

  li{
    font-size: 18px;
  }
}
