<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="static/css/base_style.css">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <title>Carshipment</title>
</head>
<body>
    <div class="header">
        <div class="menu">
            <img src="static/img/menu.png">
            <div class="menu_content">
                <a href="#"><div class="menu_line">АВТОМОБИЛИ</div></a>
                <a href="#"><div class="menu_line">УСЛУГИ</div></a>
                <a href="#"><div class="menu_line">СОТРУДНИЧЕСТВО</div></a>
                <a href="#"><div class="menu_line">КОНТАКТЫ</div></a>
                <a href="#"><div class="menu_line">ОФЕРТА</div></a>
                <a href="#"><div class="menu_line">ИНВЕСТОРАМ</div></a>
                <a href="#"><div class="menu_line">FAQ</div></a>
            </div>
        </div>
        <div class="logo"><img src="static/img/logo.png"></div>
        <div class="phone"><img src="static/img/phone.png"></div>
    </div>
    
    <div class="promotion">
        <div class="swiper promoSwiper">
            <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="text">Обращение по</div>
                <div class="text"><div class="t2">продвижению</div></div>
                <div class="text"><div class="t3">продаж</div></div>
                <div class="more"><div class="more-border"><div class="more-text">Подробнее</div></div></div>
                <img src="static/img/cars.png">  
            </div>
            <div class="swiper-slide">
                <div class="text">Обращение по</div>
                <div class="text"><div class="t2">продвижению</div></div>
                <div class="text"><div class="t3">продаж</div></div>
                <div class="more"><div class="more-border"><div class="more-text">Подробнее</div></div></div>
                <img src="static/img/cars.png"> 
            </div>
            </div>  
        </div>
    </div>

    <div class="models">
        <div class="container">
            <h1>МОДЕЛИ АВТОПАРКА</h1>
                <div class="block1">
                    <div class="car-img"><img src="static/img/car1.png"><div class="line"><div class="line-text">Перейти ></div></div></div>
                    <div class="about">Lorem ipsum dolor sit amet, 
                            consectetur adipiscing elit, sed do eius</div>
                </div>
                <div class="block2">
                    <div class="car1-img"><img src="static/img/car2.png"><div class="line"><div class="line-text">Перейти ></div></div></div>
                    <div class="about1">Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, sed do eius</div> 
                    
                </div>     
            <div class="all_models"><div class="all_border"><div class="all-text">Все модели</div></div></div>
        </div>
    </div>    

    <div class="fon">
        <div class="carshipment">
            <div class="container">
                <img src="static/img/logo2.png">
                <div class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Quis ipsum suspendisse ultrices gravida. Risus commodo viverra 
                            maecenas accumsan lacus vel facilisis.</div>   
            </div>
        </div>
    
        <div class="press_realises">
            <div class="container">
                <div class="title_press">Пресс-релизы</div>
                <div class="swiper newsSwiper">
                    <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="news">
                            <div class="picture"></div>
                            <div class="news_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            na</div>
                        </div>   
                    </div>
                    <div class="swiper-slide">
                        <div class="news">
                            <div class="picture"></div>
                            <div class="news_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                Quis ipsum suspendisse ultrices gravida. 
                                Risus commodo viverra maecenas accumsan </div>
                        </div>  
                    </div>
                    </div>  
                    <div class="swiper-pagination swiper-pagination3"></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="copyright">
            © 2023 carshipment.ru - новый способ приобретения автомобилей. 
            Копирование материалов запрещено.
        </div>
    </div> 
    <script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>