<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="static/css/base_style.css">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <title>Carshipment</title>
</head>
<body>
    <div class="header">
        <div class="menu">
            <img src="static/img/menu.png">
            <div class="menu_content">
                <a href="#"><div class="menu_line">АВТОМОБИЛИ</div></a>
                <a href="#"><div class="menu_line">УСЛУГИ</div></a>
                <a href="#"><div class="menu_line">СОТРУДНИЧЕСТВО</div></a>
                <a href="#"><div class="menu_line">КОНТАКТЫ</div></a>
                <a href="#"><div class="menu_line">ОФЕРТА</div></a>
                <a href="#"><div class="menu_line">ИНВЕСТОРАМ</div></a>
                <a href="#"><div class="menu_line">FAQ</div></a>
            </div>
        </div>
        <div class="logo"><img src="static/img/logo.png"></div>
        <div class="phone"><img src="static/img/phone.png"></div>
    </div>
    
    <div class="promotion">
        <div class="swiper promoSwiper">
            <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div id="sales" class="text">Обращение по продвижению продаж</div>
                <div class="more"><div class="more-border"><div class="more-text">Подробнее</div></div></div>   
                <img src="static/img/keys.png">  
            </div>
            <div class="swiper-slide">   
                <div class="text">Классификация автомобилей</div>
                <div class="more"><div class="more-border"><div class="more-text">Подробнее</div></div></div>
                <img src="static/img/cars.png"> 
            </div>
            </div>  
        </div>
    </div>

    <div class="models">
        <h1>МОДЕЛИ АВТОПАРКА</h1>
        <div class="car-img"><img src="static/img/car1.png"><div class="line"><div class="line-text">Перейти ></div></div>
        </div><div class="about">Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit, sed do eius</div>
        <div id="c1" class="car-img"><img src="static/img/car2.png"><div class="line"><div class="line-text">Перейти ></div></div>
        </div><div id="a1" class="about">Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, sed do eius</div>        
        <div class="all_models"><div class="all_border"><div class="all-text">Все модели</div></div></div>
    </div>    

    <div class="background">
        <div class="carshipment">
            <div class="container">
                <img src="static/img/logo2.png">
                <div class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Quis ipsum suspendisse ultrices gravida. Risus commodo viverra 
                            maecenas accumsan lacus vel facilisis.</div>   
            </div>
        </div>
    
        <div class="press_realises">
            <div class="container">
                <div class="title_press">Пресс-релизы</div>
                <div class="swiper newsSwiper">
                    <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="news">
                            <div class="picture"><img src="static/img/Moscow.png">
                            </div><div class="content">
                                <div class="news_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                na</div>
                                <div class="date">Moscow · 01/05/2023 </div>
                                <div class="share"><img src="static/img/share.png"></div>
                            </div>    
                        </div>   
                    </div>
                    <div class="swiper-slide">
                        <div class="news">
                            <div class="picture"><img src="static/img/Petersburg.png">
                            </div><div class="content">
                                <div class="news_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                     incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                     laboris nisi ut aliquip ex ea commodo consequat.</div>
                                <div class="date">Saint-Petersburg · 01/05/2023 </div>      
                                <div class="share"><img src="static/img/share.png"></div>
                            </div>
                        </div>  
                    </div>
                    </div>  
                    <div class="swiper-pagination swiper-pagination3"></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="title_navigation">Навигация</div>
            <div class="foot_logo"><img src="static/img/logo.png"></div>
            <div class="group1">
                <a href="#"><div class="foot_ref">Автомобили</div></a>
                <a href="#"><div class="foot_ref">Услуги</div></a>
                <a href="#"><div class="foot_ref">Сотрудничество</div></a>
                <a href="#"><div class="foot_ref">Классификация авто</div></a>
            </div>
            <div class="group2">
                <a href="#"><div class="foot_ref">Инвесторам</div></a>
                <a href="#"><div class="foot_ref">FAQ</div></a>
                <a href="#"><div class="foot_ref">Оферта</div></a>
                <a href="#"><div class="foot_ref">Контакты</div></a>
            </div>
            <div class="mailing">
                <div class="mail_title">Новостная рассылка</div>
                <input type="email" placeholder="email">
                <div class="sn">
                    <div class="sn-logo"><img src="static/img/tg.png"></div>
                    <div class="sn-logo"><img src="static/img/yt.png"></div>
                    <div class="sn-logo"><img src="static/img/vk.png"></div>
                </div>
            </div>
        </div>
        <div class="number">8 (996) 979 45 03</div>
        <div class="email">По коммеческим вопросам: <i>email@email.com</i></div>
        <div class="copyright">
            © 2023 carshipment.ru. Копирование материалов запрещено.
        </div>
    </div> 
    <script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>