<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="static/css/base_style.css">
    <link type="text/css" rel="stylesheet" href="static/css/classification_style.css">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link rel="shortcut icon" href="static/img/icon.png" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <title>Carshipment</title>
</head>
<body>
    <header class="header">
        <div class="menu">
            <img src="static/img/menu.png">
            <div class="menu_content">
                <a href="#"><div class="menu_line">АВТОМОБИЛИ</div></a>
                <a href="#"><div class="menu_line">УСЛУГИ</div></a>
                <a href="#"><div class="menu_line">СОТРУДНИЧЕСТВО</div></a>
                <a href="#"><div class="menu_line">КОНТАКТЫ</div></a>
                <a href="#"><div class="menu_line">ОФЕРТА</div></a>
                <a href="#"><div class="menu_line">ИНВЕСТОРАМ</div></a>
                <a href="#"><div class="menu_line">FAQ</div></a>
            </div>
        </div>
        <div class="logo"><img src="static/img/logo.png"></div>
        <div class="phone"><img src="static/img/phone.png"></div>
    </header>

    <div class="video"></div>

    <div class="container">
        <div class="classification">
            <table>
                <tr><th>текст заголовка</th><th>текст заголовка</th></tr> <!--ряд с ячейками заголовков-->
                <tr><td>данные</td><td>данные</td></tr>
                <tr><td>данные</td><td>данные</td></tr> <!--ряд с ячейками тела таблицы-->
            </table>
        </div>
    </div>

    <footer class="footer">
        <div id="foot" class="container">
            <div class="title_navigation">Навигация</div>
            <div class="group1">
                <a href="#"><div class="foot_ref">Автомобили</div></a>
                <a href="#"><div class="foot_ref">Услуги</div></a>
                <a href="#"><div class="foot_ref">Сотрудничество</div></a>
                <a href="#"><div class="foot_ref">Классификация авто</div></a>
            </div>
            <div class="group2">
                <a href="#"><div class="foot_ref">Инвесторам</div></a>
                <a href="#"><div class="foot_ref">FAQ</div></a>
                <a href="#"><div class="foot_ref">Оферта</div></a>
                <a href="#"><div class="foot_ref">Контакты</div></a>
            </div>
            <div class="foot_logo"><img src="static/img/logo.png"></div>
            <div class="mailing">
                <div class="mail_title">Новостная рассылка</div>
                <input type="email" placeholder="email">
                <img id="point_foot" src="static/img/pointer.png">
                <div class="sn">
                    <div class="sn-logo"><img src="static/img/tg.png"></div>
                    <div class="sn-logo"><img src="static/img/yt.png"></div>
                    <div class="sn-logo"><img src="static/img/vk.png"></div>
                </div>
            </div>
        </div>
        <div class="number">8 (996) 979 45 03</div>
        <div class="email">По коммеческим вопросам: <i>email@email.com</i></div>
        <div class="copyright">
            © 2023 carshipment.ru. Копирование материалов запрещено.
        </div>
    </footer> 
    <script type="text/javascript" src="/static/js/header.js"></script>
</body>
</html>